@import "../../styles/variaveis";

.rodape {
    position: absolute;
    bottom: 0;
    height: 80px;
    width: 100vw;
    background-color: $azul-rodape;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &__icones {
        margin-left: 2rem;
        display: flex;
        align-items: center;
        gap: 3rem;
    }

    p {
        margin-right: 2rem;
        font-family: $fonte-normal;
        color: $cor-do-texto;
    }
}